$white: #fff;
$dark-blue: #14475F;
$dark-grey: #414042;
$light-blue: #2891B2;
$footer-blue: #87C5E0;
$a-grey: #231F20;
$background: #F5F5F5;
$card-back: #1085A9;
$hover-icon: #eef8fc;
$hover-arrow: #12668d;
$hover-unsub: #2d98b9;
$speed: .3s;